<div
    #tableWrapper
    class="objects-page-table"
>
    <table tuiTable>
        <colgroup>
            <col style="width: 14%" /> <!-- Название -->
            <col style="width: 12%" /> <!-- Город -->
            <col style="width: 14%" /> <!-- Тип -->
            <col style="width: 12%" /> <!-- Статус -->
            <col style="width: 12%" /> <!-- Дата создания -->
            <col style="width: 12%" /> <!-- Дата редактирования -->
            <col style="width: 16%" /> <!-- Руководитель -->
            <col style="width: 8%" />  <!-- Действия -->
        </colgroup>
        <thead>
            <tr #tableHeader>
                <th tuiTh>Название</th>
                <th tuiTh>Город</th>
                <th tuiTh>Тип</th>
                <th tuiTh>Статус</th>
                <th tuiTh>Дата создания</th>
                <th tuiTh>Дата редактирования</th>
                <th tuiTh>Руководитель проекта</th>
                <th tuiTh></th>
            </tr>
        </thead>
        <tbody tuiTbody>
            @for (object of paginatedObjectList(); track object.id) {
                <tr #tableRow>
                    <td class="objects-page-table__cell_with-text" tuiTd [tuiHintOverflow]="object.title">
                        {{ object.title }}
                    </td>
                    <td class="objects-page-table__cell_with-text" tuiTd [tuiHintOverflow]="object.city">
                        {{ object.city }}
                    </td>
                    <td class="objects-page-table__cell_with-text" tuiTd [tuiHintOverflow]="objectTypeLabels[object.type]">
                        {{ objectTypeLabels[object.type] || 'Другое' }}
                    </td>
                    <td tuiTd>
                        <div
                            [appearance]="getUiStatus(object.status)"
                            tuiBadge
                            tuiStatus
                        >
                            {{ objectStatusLabels[object.status] || 'Другое' }}
                        </div>
                    </td>
                    <td tuiTd>
                        {{ object.createdAt | date: 'dd.MM.yyyy' }}
                    </td>
                    <td tuiTd>
                        {{ object.updatedAt | date: 'dd.MM.yyyy' }}
                    </td>
                    <td class="objects-page-table__cell_with-text" tuiTd [tuiHintOverflow]="object.projectManager">
                        {{ object.projectManager }}
                    </td>
                    <td class="objects-page-table__cell_with-buttons" tuiTd>
                        <object-preview-actions [object]="object" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <tui-pagination
        class="objects-page-table__pagination"
        [index]="paginationIndex()"
        [length]="pagesCount()"
        [activePadding]="2"
        [sidePadding]="1"
        (indexChange)="paginationIndex.set($event)"
    />
</div>
