<div class="objects-page">
    <header class="objects-page__header">
        <div>
            <h1 class="objects-page__title">Объекты</h1>
            <span>Управление архитектурой объектов</span>
        </div>
        <button
            tuiButton
            size="m"
            iconStart="@tui.plus"
            (click)="redirectToCreate()"
        >
            Добавить
        </button>
    </header>

    <objects-page-tool-bar class="objects-page__tool-bar" [model]="toolBarViewModel" />

    @if (filteredObjectList().length) {
        <objects-page-table class="objects-page__table" [objectList]="filteredObjectList()" />
    } @else {
        <div class="objects-page__empty">
            <h2 class="objects-page__empty-title">Не найдено подходящих объектов :(</h2>
            <span>Попробуйте изменить фильтры или поисковый запрос</span>
        </div>
    }
</div>
