<div class="objects-page">
    <header class="objects-page__header">
        <div>
            <h1 class="objects-page__title">Объекты</h1>
            <span class="objects-page__description">Управление архитектурой объектов</span>
        </div>
        <button
            tuiButton
            size="m"
            iconStart="@tui.plus"
        >
            Добавить
        </button>
    </header>

    <objects-page-tool-bar class="objects-page__tool-bar" [model]="toolBarViewModel" />

    <objects-page-table [objectList]="objectList()" />
</div>
