<div class="login-page">
    <svg class="login-page__logo">
        <use href="icons/logo-with-text.svg" />
    </svg>
    <form
        class="login-page__form"
        tuiForm="m"
        tuiCardLarge
        [formGroup]="loginForm"
        (ngSubmit)="login()"
    >
        <h1 class="login-page__title">Вход в панель администрирования</h1>
        <tui-textfield>
            <label for="emailControl" tuiLabel>Email</label>
            <input
                id="emailControl"
                tuiInput
                formControlName="email"
            />
        </tui-textfield>
        <tui-error formControlName="email" />

        <tui-textfield>
            <label for="passwordControl" tuiLabel>Пароль</label>
            <input
                id="passwordControl"
                type="password"
                tuiInput
                formControlName="password"
            />
            <tui-icon tuiPassword />
        </tui-textfield>
        <tui-error formControlName="password" />

        <button
            class="login-page__button"
            size="m"
            tuiButton
            [loading]="isLoading()"
            type="submit"
        >
            Войти
        </button>
        <tui-error [error]="authError()"/>

        <span class="login-page__support-link">
            По всем вопросам можете обращаться:<br>
            <a target="_blank" href="mailto:adminexample@gmail.com?subject=Панель%20администрирования%20ИНПАД">
                adminexample@gmail.com
            </a>
        </span>
    </form>
</div>
