<div class="login-page">
    <form
        class="login-page__form"
        [formGroup]="loginForm"
        (ngSubmit)="login()"
    >
        <tui-textfield class="login-page__form-control">
            <label for="emailControl" tuiLabel>Email</label>
            <input
                id="emailControl"
                tuiInput
                formControlName="email"
            />
        </tui-textfield>
        <tui-error formControlName="email" />

        <tui-textfield class="login-page__form-control">
            <label for="passwordControl" tuiLabel>Пароль</label>
            <input
                id="passwordControl"
                type="password"
                tuiInput
                formControlName="password"
            />
            <tui-icon tuiPassword />
        </tui-textfield>
        <tui-error formControlName="password" />

        <button
            class="login-page__button"
            size="m"
            tuiButton
            [loading]="isLoading()"
            type="submit"
        >
            Войти
        </button>
        <tui-error [error]="authError()"/>
    </form>
</div>
